<div class='main'>
  <app-header></app-header>

  <div class='container'>
    <div class='title-div'>
      <p class='title'>about</p>
    </div>
    <div class='about-content-div'>
      <div class='profile-div'>
        <div class='profile-image-div'>
          <img class='profile-image' src='../../../../assets/images/about-image.jpg' />
        </div>
        <div class='info-div'>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            doloribus saepe, incidunt unde atque adipisci sint dignissimos
            dolorum quod provident eligendi! Labore, commodi sit! Quasi
            consequatur mollitia ad odit excepturi!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            doloribus saepe, incidunt unde atque adipisci sint dignissimos
            dolorum quod provident eligendi! Labore, commodi sit! Quasi
            consequatur mollitia ad odit excepturi!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            doloribus saepe, incidunt unde atque adipisci sint dignissimos
            dolorum quod provident eligendi! Labore, commodi sit! Quasi
            consequatur mollitia ad odit excepturi!
          </p>
        </div>
      </div>
      <div class='skills-category-container-div'>
        <div class='create-skill-div'>
          <button (click)='displaySkillModal'>CREATE</button>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>MARKUP</div>
          <div class='skill-div'>
            <div *ngFor="let skill of skills">
              <div *ngIf="skill.category === 'MARKUP'">
                <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
                <div class='icon-label'>{{skill.skill}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>STYLE</div>
            <div *ngFor="let skill of skills" class='skill-div'>
              <div *ngIf="skill.category === 'STYLE'">
                <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
                <div class='icon-label'>{{skill.skill}}</div>
              </div>
            </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>FRONTEND</div>
          <div class='skill-div'>
            <div *ngFor="let skill of skills">
              <div *ngIf="skill.category === 'FRONTEND'">
                <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
                <div class='icon-label'>{{skill.skill}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>BACKEND</div>
          <div class='skill-div'>
            <div *ngFor="let skill of skills">
              <div *ngIf="skill.category === 'BACKEND'">
                <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
                <div class='icon-label'>{{skill.skill}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>DATABASE</div>
          <div class='skill-div'>
            <div *ngFor="let skill of skills">
              <div *ngIf="skill.category === 'DATABASE'">
                <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
                <div class='icon-label'>{{skill.skill}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>OTHER</div>
          <div class='skill-div'>
            <div *ngFor="let skill of skills">
              <div *ngIf="skill.category === 'OTHER'">
                <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
                <div class='icon-label'>{{skill.skill}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
