<div class='main'>
  <app-admin-header></app-admin-header>
  <div class={{skillModalState}}>
    <div #skillDiv class='modal-content'>
      <app-add-skill></app-add-skill>
    </div>
  </div>

  <div class='container'>
    <div class='title-div'>
      <p class='title'>about</p>
    </div>
    <div class='about-content-div'>
      <div class='profile-div'>
        <div class='profile-image-div'>
          <img class='profile-image' src='../../../../assets/images/about-image.jpg' />
        </div>
        <div class='info-div'>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            doloribus saepe, incidunt unde atque adipisci sint dignissimos
            dolorum quod provident eligendi! Labore, commodi sit! Quasi
            consequatur mollitia ad odit excepturi!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            doloribus saepe, incidunt unde atque adipisci sint dignissimos
            dolorum quod provident eligendi! Labore, commodi sit! Quasi
            consequatur mollitia ad odit excepturi!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            doloribus saepe, incidunt unde atque adipisci sint dignissimos
            dolorum quod provident eligendi! Labore, commodi sit! Quasi
            consequatur mollitia ad odit excepturi!
          </p>
        </div>
      </div>
      <div class='skills-category-container-div'>
        <div class='create-skill-div'>
          <button #skillButton (click)='displaySkillModal()'>CREATE</button>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>MARKUP</div>
          <div class='skill-div'>
            <div *ngFor="let skill of uniqueMarkup">
              <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
              <div class='icon-label'>{{skill.skill}}</div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>STYLE</div>
          <div class='skill-div'>
            <div *ngFor="let skill of uniqueStyle">
              <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
              <div class='icon-label'>{{skill.skill}}</div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>FRONTEND</div>
          <div class='skill-div'>
            <div *ngFor="let skill of uniqueFrontend">
              <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
              <div class='icon-label'>{{skill.skill}}</div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>BACKEND</div>
          <div class='skill-div'>
            <div *ngFor="let skill of uniqueBackend">
              <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
              <div class='icon-label'>{{skill.skill}}</div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>DATABASE</div>
          <div class='skill-div'>
            <div *ngFor="let skill of uniqueDatabase">
              <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
              <div class='icon-label'>{{skill.skill}}</div>
            </div>
          </div>
        </div>
        <div class='skill-category-div'>
          <div class='sub-title'>OTHER</div>
          <div class='skill-div'>
            <div *ngFor="let skill of uniqueOther">
              <img class='icon' src="{{'../../../../assets/images/skills/' + skill.icon}}"/>
              <div class='icon-label'>{{skill.skill}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-admin-footer></app-admin-footer>
</div>
