<div className='main'>
  <app-header></app-header>
  <div className='container'>
    <div className='title-div'>
      <p className='title'>portfolio</p>
    </div>
    <div className='create-project-div'>
      <div className='grid skill-filters'>
        <div className={filterButtons}>
          {{skills.map((skill, index) => {
            return (
              <button
                className='skill'
                key={index}
                (click)='filterProjects(skill)'
              >
                {skill}
              </button>
            );
          })}}
        </div>
        <img
          className='filter-icon'
          src='../../images/filter-solid.svg'
          (click)='displayFilter()'
        />
      </div>
    </div>
    <div className='portfolio-thumbnail-div'>
      {{filteredThumbnails.map((thumbnail, thumbnailIndex) => {
        return (
          <div key={thumbnailIndex}>
            <div
              className='portfolio-item-div'
              key={thumbnailIndex}
              (click)='history.push(`/portfolio/${thumbnail.project}`)'
            >
              <div className='portfolio-project'>
                <img
                  className='project-thumbnail'
                  src={thumbnail.module.default}
                />
                <div className='thumbnail-overlay thumbnail-overlay--blur'>
                  <div className='thumbnail-title-div'>
                    {titles[thumbnailIndex].toLowerCase()}
                  </div>
                  <div className='grid buttons-div'>
                    <div className='tech-used'>
                      {technology.map((tech, techIndex) => {
                        if (thumbnailIndex === techIndex) {
                          return (
                            <div
                              className='grid project-tech'
                              key={techIndex}
                            >
                              {tech[titles[techIndex]][0].map(
                                (t, index) => {
                                  return <button key={index}>{t}</button>;
                                }
                              )}
                            </div>
                          );
                        }
                      })}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        );
      })}}
    </div>
  </div>
  <app-footer></app-footer>
</div>
