<div class='main'>
  <app-header></app-header>
  <div class='container'>
    <div class='title-div'>
      <p class='title'>portfolio</p>
    </div>
    <div class='create-project-div'>
      <div class='grid skill-filters'>
        <div class={{filterButtons}}>
          <div class='grid' *ngFor="let skill of skills">
            <button
              class='skill'
              (click)='filterProjects(skill.skill)'
            >
              {{skill.skill}}
            </button>
          </div>
        </div>
        <img
          class='filter-icon'
          src='../../../../assets/images/filter-solid.svg'
          (click)='displayFilters()'
        />
      </div>
    </div>
    <div class='portfolio-thumbnail-div'>
      <div *ngFor="let thumbnail of currentProjects">
        <!-- <div
          class='portfolio-item-div'
          (click)='history.push(`/admin/portfolio/${thumbnail.project}`)'
        > -->
        <div
          class='portfolio-item-div'
        >
          <div class='portfolio-project'>
            <img
              class='project-thumbnail'
              src="{{'../../../../assets/images/projects/' + thumbnail.thumbnail}}"
            />
            <div class='thumbnail-overlay thumbnail-overlay--blur'>
              <div class='thumbnail-title-div'>
                {{thumbnail.project.toLowerCase()}}
              </div>
              <div class='buttons-div'>
                <div class='tech-used project-tech'>
                  <div class='grid project-tech' *ngFor="let project of projectSkills | keyvalue">
                    <div class='grid project-tech' *ngIf="project.key === thumbnail.project">
                      <div *ngFor="let technology of project.value">
                        <button>{{technology}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
