<div class='main'>
  <app-header></app-header>
  <div class='container'>
    <div class='title-div'>
      <p class='title'>portfolio</p>
    </div>
    <div class='create-project-div'>
      <div class='grid skill-filters'>
        <div class={filterButtons}>
          <div *ngFor="let skill of skills">
            <!-- <button
              class='skill'
              *ngIf="filter"
              (click)='filterProjects(skill)'
            >
              {{skill}}
            </button> -->
          </div>
        </div>
        <!-- <img
          class='filter-icon'
          src='../../../../assets/images/filter-solid.svg'
          (click)='displayFilter()'
        /> -->
      </div>
    </div>
    <div class='portfolio-thumbnail-div'>
      <!-- <div *ngFor="let thumbnail of filteredThumbnails">
        <div
          class='portfolio-item-div'
          key={thumbnailIndex}
          (click)='history.push(`/portfolio/${{thumbnail.project}}`)'
        >
          <div class='portfolio-project'>
            <img
              class='project-thumbnail'
              src={thumbnail.module.default}
            />
            <div class='thumbnail-overlay thumbnail-overlay--blur'>
              <div class='thumbnail-title-div'>
                {{titles[thumbnailIndex].toLowerCase()}}
              </div>
              <div class='grid buttons-div'>
                <div class='tech-used'>
                  <div
                    class='grid project-tech'
                    *ngFor="let tech of technology"
                  >
                    <div *ngIf="thumbnailIndex === techIndex">
                      <button *ngFor="let t of tech[titles[techIndex]][0]">{{t}}</button>;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
  </div>
  <app-footer></app-footer>
</div>
