body{
    margin: 0;
    font-size: 20px;
    font-family: 'Rajdhani';
}

.main{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.grid{
    display: grid;
}

.header p, .footer p, .footer{
    color: white;
    text-decoration: none;
}

input, select, textarea{
    border-style: none;
    padding: 10px;
    outline: none;
    font-family: 'Rajdhani';
}

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    background-color: black;
    height: 92px;
}

.nav-link{
    text-align: center;
    text-decoration: none;
}

.title-div{
    font-size: 25px;
    text-align: center;
}

.title{
    margin-bottom: 40px;
}

.about-content-div{
    margin: 0 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.icon{
    width: 75px;
    min-height: 100px;
}

.icon:hover{
    filter: drop-shadow(1px 1px 1px black)
}

.profile-div{
    width: fit-content;
}

.profile-image-div{
    text-align: center;
}

.profile-image{
    width: fit-content;
}

.info-div{
    text-align: justify;
}

.skill-category-div{
    border: black 3px solid;
    padding: 10px;
    margin: 30px 0;
}

.skill-category-div .sub-title{
    margin-bottom: 20px;
    font-weight: 700;
}

.skill-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: end;
    gap: 10px;
}

.icon-label{
    text-align: center;
}

.form-div{
    display: grid;
    justify-content: center;
    padding: 0 0px 40px 0px;
}

.contact-form{
    display: grid;
    justify-content: center;
    border-style: none;
    background: rgb(243, 243, 243);
    padding: 40px;
    grid-template-columns: repeat(1, minmax(0px, 800px));
}

.subject-line{
    display: grid;
    grid-template-columns: 75px auto;
    margin: 15px 0;
}

.portfolio-thumbnail-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
    margin: 0 40px 40px 40px;
    justify-content: center;
    gap: 30px;
}

.project-thumbnail{
    width: 700px;
    display: block;
}

.portfolio-project{
    width: 700px;
    position: relative;
    border: 1px black solid;
}

.portfolio-project:hover{
    border: none;
}


.portfolio-item-div{
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 0;
}

.portfolio-project::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    transition: transform 300ms ease-in;
    transform: scaleY(0);
    transform-origin: top;
}

.portfolio-project:hover::after{
    transform: scaleY(1);
}

.thumbnail-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    align-content: center;
    justify-content: center;
}

.thumbnail-overlay > *{
    transform: translateY(170px);
    opacity: 0;
    transition: transform 300ms ease-in-out;

}

.thumbnail-overlay:hover > *{
    transform: translateY(0px);
    transition: transform 300ms ease-in-out;
    opacity: 1;
}

.thumbnail-overlay--blur:hover{
    backdrop-filter: blur(10px);
}

.buttons-div{
    gap: 20px;
}

.tech-used{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0 20px;
}

.project-buttons{
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 2;
}

.project-tech{
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    justify-content: center;
    align-content: center;
}

.footer{
    background: black;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 100px;
    height: 92px;
    align-items: center;
    margin-top: auto;
}

.footer-nav{
    grid-template-columns: repeat(5, 1fr);
}

.modal-content{
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
}

.modal{
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-active{
    visibility: visible;
    opacity: 1;
}

button{
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 0;
    width: auto;
    padding: 5px 10px;
    margin: 5px;
}

.project-creation-checkbox-div{
    grid-template-columns: auto auto;
    gap: 10px;
}

.thumbnail-checkbox-div, .tech-grid{
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.skill-modal-div{
    gap: 10px;
}

.skill-input{
    grid-template-columns: 100px 1fr;
    text-align: left;
    align-items: center;
}

.create-skill-div{
    margin-bottom: -30px;
    text-align: right;
}

.create-project-div{
    margin-top: -30px;
    margin-right: 40px;
    text-align: right;
}

.create-skill-div button{
    margin-top: 0;
    margin-right: 0;
}

.skills-category-container-div{
    margin-top: -30px;
}

.tech-checkbox-list{
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
}

.tech-checkbox-label{
    text-align: left;
}

.add-project-modal{
    gap: 20px;
}

.project-slide-div{
    justify-content: center;
    margin-bottom: 40px;
}

.project-details-image{
    width: 700px;
    display: block;
}