<div className='grid skill-modal-div'>
  {/* Add Skill */}
  <div className='sub-title'>ADD A SKILL</div>
  <div className='grid skill-input'>
    <label>SKILL</label>
    <!-- <mat-form-field> -->
      <input
        matInput
        type='text'
        name='skill'
        [(ngModel)]='skillInput'
      />
    <!-- </mat-form-field> -->
  </div>
  <div className='grid skill-input'>
    <label>CATEGORY</label>
    <select name='category' [(ngModel)]='categorySelection'>
      <option disabled selected>
        Select a Category...
      </option>
      <option>MARKUP</option>
      <option>STYLE</option>
      <option>FRONTEND</option>
      <option>BACKEND</option>
      <option>DATABASE</option>
      <option>OTHER</option>
    </select>
  </div>
  <div className='grid skill-input'>
    <label>RANKING</label>
    <select name='rank' [(ngModel)]='rankSelection'>
      <option disabled selected>
        Select a Rank...
      </option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div className='grid skill-input'>
    <label>LEVEL</label>
    <select name='level' [(ngModel)]='levelSelection'>
      <option disabled selected>
        Select a Level...
      </option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div className='grid skill-input'>
    <label>ICON</label>
    <select name='icon' [(ngModel)]='iconSelection'>
      <option disabled selected>
        Select an Icon...
      </option>
      <option *ngFor="let icon of icons">{{icon}}</option>;
    </select>
  </div>
  <div>
    <button className='form-button' type='submit' (click)='addSkill'>
      ADD
    </button>
  </div>
</div>
