<div className="grid skill-modal-div">
  {/* Add Skill */}
  <div className="sub-title">ADD A SKILL</div>
  <div className="grid skill-input">
    <label>SKILL</label>
    <input
      ref={skillInput}
      type="text"
      name="skill"
      #skillInput
      (change)='setSkill(skillInput)'
    />
  </div>
  <div className="grid skill-input">
    <label>CATEGORY</label>
    <select name="category" #categorySelection (change)='setCategory(categorySelection)'>
      <option disabled selected>
        Select a Category...
      </option>
      <option>MARKUP</option>
      <option>STYLE</option>
      <option>FRONTEND</option>
      <option>BACKEND</option>
      <option>DATABASE</option>
      <option>OTHER</option>
    </select>
  </div>
  <div className="grid skill-input">
    <label>RANKING</label>
    <select name="rank" #rankSelection (change)='setRanking(rankSelection)'>
      <option disabled selected>
        Select a Rank...
      </option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div className="grid skill-input">
    <label>LEVEL</label>
    <select name="level" #levelSelection (change)='setLevel(levelSelection)'>
      <option disabled selected>
        Select a Level...
      </option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div className="grid skill-input">
    <label>ICON</label>
    <select name="icon" #iconSelection (change)='setIcon(iconSelection)'>
      {console.log(icons)}
      <option disabled selected>
        Select an Icon...
      </option>
      {icons.map((icon, index) => {
        return <option key={index}>{icon}</option>;
      })}
    </select>
  </div>
  <div>
    <button className="form-button" type="submit" (click)="addSkill">
      ADD
    </button>
  </div>
</div>
