<div className="main">
  <app-header></app-header>
  <div className="container">
    <div className="title-div">
      <p className="title">contact</p>
    </div>
    <div className="form-div">
      <form className="contact-form" method="POST" action="/contact">
        <div className="subject-line">
          <label className="form-label">name</label>
          <!-- <mat-form-field> -->
            <input
              matInput
              type="text"
              name="name"
              className="form-control"
              [(ngModel)]="nameInput"
            />
          <!-- </mat-form-field> -->
        </div>
        <div className="subject-line">
          <label className="form-label">email</label>
          <!-- <mat-form-field> -->
            <input
              matInput
              type="email"
              name="email"
              className="form-control"
              [(ngModel)]="emailInput"
              required
            />
          <!-- </mat-form-field> -->
        </div>
        <div className="subject-line">
          <label className="form-label">subject</label>
          <!-- <mat-form-field> -->
            <input
              matInput
              type="text"
              name="subject"
              className="form-control"
              [(ngModel)]="subjectInput"
              required
            />
          <!-- </mat-form-field> -->
        </div>
        <div className="subject-line">
          <label className="form-label">message</label>
          <!-- <mat-form-field> -->
            <textarea
              matInput
              name="message"
              rows="10"
              [(ngModel)]="messageText"
              required
            ></textarea>
          <!-- </mat-form-field> -->
        </div>
        <div className="">
          <button (click)="(handleSubmit)" type="submit" className="">
            submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
