<div className="main">
  <app-header></app-header>
  <div className="container">
    <div className="title-div">
      <p className="title">contact</p>
    </div>
    <div className="form-div">
      <form className="contact-form" method="POST" action="/contact">
        <div className="subject-line">
          <label className="form-label">name</label>
          <input
            type="text"
            ref={nameInput}
            name="name"
            className="form-control"
            #nameInput
            (change)='setName(nameInput)'
          />
        </div>
        <div className="subject-line">
          <label className="form-label">email</label>
          <input
            type="email"
            ref={emailInput}
            name="email"
            className="form-control"
            #emailInput
            (change)='setEmail(emailInput)'
            required
          />
        </div>
        <div className="subject-line">
          <label className="form-label">subject</label>
          <input
            type="text"
            ref={subjectInput}
            name="subject"
            className="form-control"
            #subjectInput
            (change)='setSubject(subjectInput)'
            required
          />
        </div>
        <div className="subject-line">
          <label className="form-label">message</label>
          <textarea
            name="message"
            ref={messageInput}
            rows="10"
            #messageText
            (change)='setMessage(messageText)'
            required
          ></textarea>
        </div>
        <div className="">
          <button (click)="handleSubmit" type="submit" className="">
            submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
