<div class='grid add-project-modal'>
  <div class='grid toDo-modal-grid'>
    <label>TITLE</label>
    <!-- <mat-form-field> -->
      <input
        matInput
        type='text'
        name='project_title'
        [(ngModel)]='titleInput'
      />
    <!-- </mat-form-field> -->
  </div>
  <div class='grid project-creation-checkbox-div'>
    <div class='grid thumbnail-checkbox-div'>
      <div>
        <label>THUMBNAIL</label>
        <div class='grid image-checkbox-list'>
          <label class='image-checkbox-label'></label>
          <label class='image-checkbox-label'>Selection</label>
          <label class='image-checkbox-label'>Primary</label>
        </div>
      </div>
      <div>
        <div class='grid image-checkbox-list' *ngFor="let file of projectImages">
          <div *ngIf="projectFiles.includes(file)">
            <label class='image-checkbox-label'>{{file}}</label>
            <div>
                <!-- <input
                  matInput
                  type='checkbox'
                  name='image'
                  [(ngModel)]='fileInput'
                  (change)='projectSet(fileInput, e.target.checked)'
                  checked
                /> -->
            </div>
            <div>
                <input
                  matInput
                  type='radio'
                  name='image'
                  [(ngModel)]='primaryImage'
                />
            </div>
          </div>
          <div *ngIf="!projectFiles.includes(file)">
            <label class='image-checkbox-label'>{{file}}</label>
            <div>
                <!-- <input
                  matInput
                  type='checkbox'
                  name='image'
                  [(ngModel)]='fileInput'
                  (change)='projectSet(fileInput, e.target.checked)'
                /> -->
            </div>
            <div>
                <input
                  matInput
                  type='radio'
                  name='image'
                  [(ngModel)]='primaryImage'
                />
            </div>
          </div>
      </div>
    </div>
    <div class='grid tech-grid'>
      <div>
        <label>TECH</label>
        <div class='grid tech-checkbox-list'>
          <label class='image-checkbox-label'></label>
          <label class='image-checkbox-label'>Selection</label>
        </div>
      </div>
      <div>
        <div class='grid tech-checkbox-list' *ngFor="let skill of skills">
          <div *ngIf="projectSkills.includes(skill)">
            <label class='tech-checkbox-label'>{{skill}}</label>
            <div>
                <!-- <input
                  matInput
                  type='checkbox'
                  name='skill'
                  [(ngModel)]='skillInput'
                  (change)='skillSet(skillInput, e.target.checked)'
                  checked
                /> -->
            </div>
          </div>
            <div *ngIf="!projectSkills.includes(skill)">
              <label class='tech-checkbox-label'>{{skill}}</label>
              <div>
                <!-- <input
                  matInput
                  type='checkbox'
                  name='skill'
                  [(ngModel)]='skillInput'
                  (change)='creskillSetateList(skillInput, e.target.checked)'
                /> -->
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class='form-button' type='submit' (click)='updateProject'>
      UPDATE
    </button>
  </div>
</div>
