<div class="main">
  <app-header></app-header>
  <div class="container">
    <div class="title-div">
      <p class="title">contact</p>
    </div>
    <div class="form-div">
      <form class="contact-form" method="POST" action="/contact">
        <div class="subject-line">
          <label class="form-label">name</label>
            <input
              matInput
              type="text"
              name="name"
              class="form-control"
              [(ngModel)]="nameInput"
            />
        </div>
        <div class="subject-line">
          <label class="form-label">email</label>
            <input
              matInput
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="emailInput"
              required
            />
        </div>
        <div class="subject-line">
          <label class="form-label">subject</label>
            <input
              matInput
              type="text"
              name="subject"
              class="form-control"
              [(ngModel)]="subjectInput"
              required
            />
        </div>
        <div class="subject-line">
          <label class="form-label">message</label>
            <textarea
              matInput
              name="message"
              rows="10"
              [(ngModel)]="messageText"
              required
            ></textarea>
        </div>
        <div class="">
          <button (click)="(handleSubmit)" type="submit" class="">
            submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
